.main {
    flex-direction: column;
}
body {
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    font-family: Arial Narrow, sans-serif;
}
.title {
    color: white;
}
#text-area {
    width: 514px;
    height: 200px;
}
button {
    padding: 10px 5px;
    margin: 4px 3px;
    font-size: 14px;
}
.buttons {
    flex-direction: row;
}